.nav-item {
    font-size: 20px;
    margin: 0 5px;
}

.search {
    margin: 4px 2px 0 5px;
}

.dvd {
    margin: 4px 5px 0 5px;
}

.netflixLogo {
    margin-left: 30px;
    width: 150px;
}

.profileImage {
    margin-right: 30px;
    width: 30px;
}